@model ProductViewModel

@{
    ViewBag.PageTitle = "Product Management";
    ViewBag.CardTitle = "Create Product";
    Layout = "~/Views/Shared/_dashboard.cshtml";
}




<form method="post" asp-action="Create" enctype="multipart/form-data">


    <div class="form-groub">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" />
        <span asp-validation-for="Product.Name" class="text-danger"></span>
        <span asp-validation-for="Product.Name" class="text-danger"></span>

    </div>


    <div class="form-groub">
        <label asp-for="Product.Description"></label>
        <input asp-for="Product.Description" class="form-control" />
        <span asp-validation-for="Product.Description" class="text-danger"></span>

    </div>
    <div class="form-groub">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" />
        <span asp-validation-for="Product.Price" class="text-danger"></span>
    </div>

    <div class="form-groub">
        <label asp-for="Product.ImagePath" class="control-label"></label>
        <input type="file" name="file" id="imgfile" class="form-control" />
       
    </div>


    <div class="form-groub">
        <label asp-for="Product.CategoryId"></label>
        <select asp-for="Product.CategoryId" asp-items="Model.CategoryList" class="form-control">
            <option disabled selected>-- Select Category --</option>
        </select>
        
        
    </div>


    <div class="form-groub">
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-action="Create" asp-controller="Products" class="btn btn-warning">Back To Categories</a>
    </div>


</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}